body {
	padding-top: 20px;
}

label {
	color: #222;
	font-weight: normal;
	font-style: normal;
}

input[type=text] {
	width: 200px;
}

form {
	text-align: left;
}

table {
	border-collapse:collapse;
	margin-bottom: 0px;
}

table, td, th {
	border: 1px solid #ccc;
}

thead th {
	background-color: #f9f9f9;
	/* background: #eee url(http://www.datatables.net/media/css/jui_themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x 50% 50%; */
}

th.playlist_votes {
	width: 50px;
	text-align: center;
}

th.playlist_name {
	width: 270px;
}

th.playlist_time {
	width: 49px;
}

th.playlist_artist {
	width: 270px;
}

th.playlist_album {
	width: 260px;
}

td.playlist_votes {
	text-align: right;
}

td.lean_right, th.lean_right {
	text-align: right;
}

th.lean_center {
	text-align: center;
}

.container{
	margin-bottom: 10px;
	text-align: center;
}

.odd {
    
}

.even {
	background-color: #f9f9f9;
    /*background-color: #eef7fe;*/
}

#controller_play {
	background: url(/static/img/play.png) no-repeat;
	width: 70px;
	height: 70px;
	display: block;
}

#controller_play:hover {
	background: url(/static/img/play_disabled.png) no-repeat;
}

#controller_pause {
	background: url(/static/img/pause.png) no-repeat;
	width: 70px;
	height: 70px;
	display: block;
}

#controller_pause:hover {
	background: url(/static/img/pause_disabled.png) no-repeat;
}

#controller_skip {
	background: url(/static/img/skip.png) no-repeat;
	width: 70px;
	height: 70px;
	display: block;
}

#controller_skip:hover {
	background: url(/static/img/skip_disabled.png) no-repeat;
}

a.controller_button {
	border: 0px solid #ccc;
	height: 70px;
	text-decoration: none;
}

.controller_infolabel {
	padding: 5px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	height: 60px;
}

.browser_box {
	border: 1px solid #ccc;
	overflow: auto;
}

a.vote_open {
	background: url(/static/img/thumb-up-bw.png) no-repeat;
	width: 20px;
	height: 16px;
	float: left;
	text-decoration: none;
}

a.vote_open:hover {
	background: url(/static/img/thumb-up-c.png) no-repeat;
	width: 20px;
	height: 16px;
	float: left;
	text-decoration: none;
}

a.vote_passed {
	background: url(/static/img/thumb-up-c.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	text-decoration: none;
}

.votes_count {
	float: right;
	display: block;
}

.browser_label {
	text-align: left;
}

#browser_playlist {
	background-color: white;
	height: 200px;
}

#browser_artist {
	background-color: white;
	height: 200px;
}

#browser_song {
	background-color: white;
	height: 200px;
}

#browser_uploadfile {
	border: 1px solid #ccc;
	background: #f9f9f9 url(/static/img/itunes.png) no-repeat 4px 4px;
	padding-left: 70;
}

#browser_youtube {
	border: 1px solid #ccc;
	background: #f9f9f9 url(/static/img/youtube2.png) no-repeat 4px 4px;
	padding-left: 70;
}

#youtubelink_inputtext {
	width: 575px;
}

#filelink_inputtext {
	width: 522px;
}

.hidden {
	display: none;
    visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
	clear: both;
}