<html>
	<head>
		{% block title %} <title>DJ-ANGO</title>{% endblock %}
		<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection">
	</head>
	<body>
		{% block content %}{% endblock %}
		<script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="/static/js/player.js"></script>
	</body>
</html>

	